<header id="site-header">
  <section>
    <div>
      <img src="images/logo.svg" alt="baraka logo">
    </div>
    <div class="container-header">
      <article>
        <h1>Servicios de venta al por mayor</h1>
        <h2>Proyectos para hoteles, restaurantes y decoradores</h2>
        <h2>Suministros a tiendas</h2>
      </article>
      <hr>
      <article class="description">
        <p>Con el encanto del trabajo manual de los artesanos marroquíes con los que trabajamos.</p>
        <p>En <strong>Baraka</strong> nos dedicamos a la fabricación e importación de Marruecos a todo el mundo.</p>
        <a href="https://www.barakaweb.com/ca" class="btn primary">Descubre mas</a>
      </article>
    </div>
  </section>
</header>
<main id="site-main">
  <section class="intro">
    <p>Desde <strong>Baraka</strong> os podemos ofrecer este nuevo servicio.</p>
    <p>Si necesitáis decorar un salón, terraza, varias habitaciones… Os podemos proporcionar los muebles, sillas, taburetes, mesas, cerámica u otros objetos de decoración. Además podéis escoger la medida y el diseño.</p>
  </section>
  <section class="product-overview">
    <article class="mosaicos">
      <section class="slider">
        <div class="arrows-container">
          <button class="btn rounded-btn arrow-left"><</button>
          <button class="btn rounded-btn arrow-right">></button>
        </div>
        <div class="carousel">
          <div class="container-carousel">
            {{#each mosaicos}}
              <div class="img-container">
                <img src={{this.url}} alt={{this.title}}>
              </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="product-info">
        <h3>Mosaicos a medida</h3>
        <span class="title-underline"></span>
        <p>Mesas de mosaico con patas de hierro, paneles, fuentes…</p>
        <a href="https://www.barakaweb.com/ca/decoracio-marroqui/mosaics">Descubre mas...</a>
      </section>
    </article>
    <article class="decoración">
      <section class="slider">
        <div class="arrows-container">
          <button class="btn rounded-btn arrow-left"><</button>
          <button class="btn rounded-btn arrow-right">></button>
        </div>
        <div class="carousel">
          <div class="container-carousel">
            {{#each deco}}
            <div class="img-container">
              <img src={{this.url}} alt={{this.title}}>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="product-info">
        <h3>Decoración i accessorios</h3>
        <span class="title-underline"></span>
        <p>Mesitas, taburetes, lámparas, puf, espejos… todo con materiales naturales como la madera, ratán, rafia…</p>
        <a href="https://www.barakaweb.com/ca/decoracio-marroqui/accessoris">Descubre mas...</a>
      </section>
    </article>
    <article class="objetos-singulares">
       <section class="slider">
        <div class="arrows-container">
          <button class="btn rounded-btn arrow-left"><</button>
          <button class="btn rounded-btn arrow-right">></button>
        </div>
        <div class="carousel">
          <div class="container-carousel">
            {{#each objetos}}
            <div class="img-container">
              <img src={{this.url}} alt={{this.title}}>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="product-info">
        <h3>Objetos singulares</h3>
        <span class="title-underline"></span>
        <p>Arte tribal, vintage, brocante…</p>
        <a href="https://www.barakaweb.com/ca/objectes-antics-artesania">Descubre mas...</a>
      </section>
    </article>
    <article class="cerámica">
       <section class="slider">
        <div class="arrows-container">
          <button class="btn rounded-btn arrow-left"><</button>
          <button class="btn rounded-btn arrow-right">></button>
        </div>
        <div class="carousel">
          <div class="container-carousel">
            {{#each ceramicas}}
            <div class="img-container">
              <img src={{this.url}} alt={{this.title}}>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="product-info">
        <h3>Cerámica artesanal</h3>
        <span class="title-underline"></span>
        <p>Tamgrout, Safi, Fez, Rif…</p>
        <a href="https://www.barakaweb.com/ca/objectes-tradicionals/ceramica-marroqui">Descubre mas...</a>
      </section>
    </article>
    <article class="alfombras">
       <section class="slider">
        <div class="arrows-container">
          <button class="btn rounded-btn arrow-left"><</button>
          <button class="btn rounded-btn arrow-right">></button>
        </div>
        <div class="carousel">
          <div class="container-carousel">
            {{#each alfombras}}
            <div class="img-container">
              <img src={{this.url}} alt={{this.title}}>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
      <section class="product-info">
        <h3>Alfombras berebere</h3>
        <span class="title-underline"></span>
        <p>Alfombras, kilims y cojines tribales: Beni Ouarain, Azilal, Boucherouid, Boujaad…</p>
        <a href="https://www.barakaweb.com/ca/decoracio-marroqui/catifes">Descubre mas...</a>
      </section>
    </article>
  </section>
  <section class="intro">
    <p>Podemos proporcionaros todo tipo de productos de decoración fabricados en Marruecos; muebles, iluminación, productos textiles, cerámica u otros.</p>
    <p>Trabajamos directamente con los artesanos marroquíes, de esta manera el beneficio va directamente al productor sin pasar por intermediarios. Podéis disfrutar del encanto del trabajo hecho a mano con las técnicas ancestrales que perduran desde siglos.</p>
    <a href="https://www.barakaweb.com/ca" class="btn primary">Descubre mas</a>
  </section>
</main>
<footer id="site-footer">
  <p>Productos a medida: Compártenos tus ideas, si no lo ves en la web, pregunta. Seguro que podemos hacerlas realidad, o casi...</p>
  <a href="mailto:yourmail@contac.com">yourmail@contac.com</a>
  <a href="tel:+34527839900049">+34 527839900049</a>
</footer>
<script src="javascript/main.js"></script>
