<header id="dashboard-header">
  <section class="user">
    <img src="images/logo.svg" alt="baraka logo">
    <p>Hola {{user}}!</p>
  </section>
  <nav id="dashboard-nav">
    <ul>
      <li><a href="#mosaicos"><img src="images/mosaico-icon.png" alt="Icono mosaico"> Mosaicos</a></li>
      <li><a href="#deco"><img src="images/deco-icon.png" alt="Icono decoracion"> Decoración</a></li>
      <li><a href="#objetos"><img src="images/objetos-icon.png" alt="Icono objetos singulares"> Objetos Singulares</a>
      </li>
      <li><a href="#ceramicas"><img src="images/ceramica-icon.png" alt="Icono cerámica"> Cerámica</a></li>
      <li><a href="#alfombras"><img src="images/alfombra-icon.png" alt="Icono alfombra"> Alfombras</a></li>
    </ul>
  </nav>
  <form method="POST" action="/private/logout">
    <button type="submit" class="btn">Log Out</button>
  </form>
</header>

<main id="dashboard-main">
  <h1>Baraka Dashboard</h1>
  <section class="mosaico-form" id="mosaicos">
    {{#if message}}
    <p class="validation">{{message}}</p>
    {{/if}}
    {{#each mosaicos}}
      <form method="POST" action="/private/update/{{this._id}}" class="show">
        <fieldset>
          <label for="url">Elige una imagen</label>
          <input type="file" name="url" id="url">
        </fieldset>
        <fieldset>
          <label for="title">Titular</label>
          <input type="text" name="title" id="title" value="{{this.title}}" placeholder="Titular de la imagen">
        </fieldset>
        <fieldset class="category-field">
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option value="mosaicos">Mosaicos</option>
            <option value="decoración">Decoración</option>
            <option value="objetos-singulares">Objetos Singulares</option>
            <option value="cerámica">Cerámica</option>
            <option value="alfombras">Alfombras</option>
          </select>
        </fieldset>
        <button type="submit" class="btn" id="hide-btn">Save</button>
      </form>
      <article class="card">
        <img src="{{this.url}}" alt="{{this.title}}">
        <p class="title-img">{{this.title}}</p>
        <p class="category-tag">{{this.category}}</p>
        <section class="action">
          <button class="edit-btn"><img src="images/pencil-edit-button.png" alt="edit icon"></button>
          <form method="POST" action="/private/delete/{{this._id}}">
            <button type="submit"><img src="images/waste-bin.png" alt="delete icon"></button>
          </form>
        </section>
      </article>
    {{/each}}
  </section>

  <section class="deco-form" id="deco">
    {{#each deco}}
      <form action="/private/update/{{this._id}}" method="POST" class="hide">
        <fieldset>
          <label for="url">Elige una imagen</label>
          <input type="file" name="url" id="url">
        </fieldset>
        <fieldset>
          <label for="title">Titular</label>
          <input type="text" name="title" id="title" value="{{this.title}}">
        </fieldset>
        <fieldset class="category-field">
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option value="mosaicos">Mosaicos</option>
            <option value="decoración">Decoración</option>
            <option value="objetos-singulares">Objetos Singulares</option>
            <option value="cerámica">Cerámica</option>
            <option value="alfombras">Alfombras</option>
          </select>
        </fieldset>
        <button type="submit" class="btn" id="hide-btn">Save</button>
      </form>
      <article class="card">
        <img src="{{this.url}}" alt="{{this.title}}">
        <p class="title-img">{{this.title}}</p>
        <p class="category-tag">{{this.category}}</p>
        <section class="action">
          <button class="edit-btn"><img src="images/pencil-edit-button.png" alt="edit icon"></button>
          <form method="POST" action="/private/delete/{{this._id}}">
            <button type="submit"><img src="images/waste-bin.png" alt="delete icon"></button>
          </form>
        </section>
      </article>
    {{/each}}
  </section>
  <section class="objetos-form" id="objetos">
    {{#each objetos}}
      <form action="/private/update/{{this._id}}" method="POST" class="hide" id="form-1">
        <fieldset>
          <label for="url">Elige una imagen</label>
          <input type="file" name="url" id="url">
        </fieldset>
        <fieldset>
          <label for="title">Titular</label>
          <input type="text" name="title" id="title" value="{{this.title}}">
        </fieldset>
        <fieldset class="category-field">
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option value="mosaicos">Mosaicos</option>
            <option value="decoración">Decoración</option>
            <option value="objetos-singulares">Objetos Singulares</option>
            <option value="cerámica">Cerámica</option>
            <option value="alfombras">Alfombras</option>
          </select>
        </fieldset>
        <button type="submit" class="btn" id="hide-btn">Save</button>
      </form>
      <article class="card">
        <img src="{{this.url}}" alt="{{this.title}}">
        <p class="title-img">{{this.title}}</p>
        <p class="category-tag">{{this.category}}</p>
        <section class="action">
          <button class="edit-btn"><img src="images/pencil-edit-button.png" alt="edit icon"></button>
          <form method="POST" action="/private/delete/{{this._id}}">
            <button type="submit"><img src="images/waste-bin.png" alt="delete icon"></button>
          </form>
        </section>
      </article>
    {{/each}}
  </section>
  <section class="ceramica-form" id="ceramicas">
    {{#each ceramicas}}
      <form action="/private/update/{{this._id}}" method="POST" class="hide">
        <fieldset>
          <label for="url">Elige una imagen</label>
          <input type="file" name="url" id="url">
        </fieldset>
        <fieldset>
          <label for="title">Titular</label>
          <input type="text" name="title" id="title" value="{{this.title}}">
        </fieldset>
        <fieldset class="category-field">
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option value="mosaicos">Mosaicos</option>
            <option value="decoración">Decoración</option>
            <option value="objetos-singulares">Objetos Singulares</option>
            <option value="cerámica">Cerámica</option>
            <option value="alfombras">Alfombras</option>
          </select>
        </fieldset>
        <button type="submit" class="btn" id="hide-btn">Save</button>
      </form>
      <article class="card">
        <img src="{{this.url}}" alt="{{this.title}}">
        <p class="title-img">{{this.title}}</p>
        <p class="category-tag">{{this.category}}</p>
        <section class="action">
          <button class="edit-btn"><img src="images/pencil-edit-button.png" alt="edit icon"></button>
          <form method="POST" action="/private/delete/{{this._id}}">
            <button type="submit"><img src="images/waste-bin.png" alt="delete icon"></button>
          </form>
        </section>
      </article>
    {{/each}}
  </section>
  <section class="alfombras-form" id="alfombras">
    {{#each alfombras}}
      <form action="/private/update/{{this._id}}" method="POST" class="hide">
        <fieldset>
          <label for="url">Elige una imagen</label>
          <input type="file" name="url" id="url">
        </fieldset>
        <fieldset>
          <label for="title">Titular</label>
          <input type="text" name="title" id="title" value="{{this.title}}">
        </fieldset>
        <fieldset class="category-field">
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option value="mosaicos">Mosaicos</option>
            <option value="decoración">Decoración</option>
            <option value="objetos-singulares">Objetos Singulares</option>
            <option value="cerámica">Cerámica</option>
            <option value="alfombras">Alfombras</option>
          </select>
        </fieldset>
        <button type="submit" class="btn" id="hide-btn">Save</button>
      </form>
      <article class="card">
        <img src="{{this.url}}" alt="{{this.title}}">
        <p class="title-img">{{this.title}}</p>
        <p class="category-tag">{{this.category}}</p>
        <section class="action">
          <button class="edit-btn"><img src="images/pencil-edit-button.png" alt="edit icon"></button>
          <form method="POST" action="/private/delete/{{this._id}}">
            <button type="submit"><img src="images/waste-bin.png" alt="delete icon"></button>
          </form>
        </section>
      </article>
    {{/each}}
  </section>
</main>